@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', serif;
}

.container{
  padding-left: 10%;
  padding-right: 10%;

}

.btn{
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
}

.btn:hover{
  background: #1f3745;
  color: #fff;
  border: 2px solid #fff;
}

.sub{
  color: #1f3745;
  text-align: center;
}

.properties{
  
  margin: 80px auto;
  padding: 0 80px;
  position: relative;
}

.property{
  margin-top: 5%;
}

.next-btn, .back-btn{
  position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #1f3745;
} 

 .back-btn{
  right: auto;
  left: 0;
  margin-left: 8rem;
}

.next-btn{
  margin-right: 8rem;
}

.slider{
  overflow: hidden;
 
  
} 

.slider ul{
  display: flex;
  /* flex-wrap: wrap; */
  width: 270%;
  overflow-x: hidden;
  transition: 0.5s;
  gap: 1.8rem;
  transform: translateX(-14.28%);
}

.slider ul li{
  margin: 1rem;
  list-style: none;
}

.slider ul li:hover{
  transform: scale(1.05);
  transition: 0.4s;
}

.property{
  margin-top: 2rem;
}
.card-info {
  /* border: 2px solid #1f3745; */
  padding: 20px;
  border-radius: 5px;
  max-width: 425px;
  height: 450px;
  box-shadow: 5px 8px 14px #888888;
}

.card-info img{
  width: 100%;
  max-width: 300px;
  height: 300px;
  border-radius: 5px;
}


.card-text{
  margin-top: 2%;
  line-height: 1.4;
  text-align: center;
}

.card-text p{
  padding-top: 10px;
}

.card-name{
  margin-left: 6rem;
  font-size: 1.2rem;
  color: #1f3745;
}

